[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "dotfiles/config/zsh/syntax-highlighting"]
	path = dotfiles/config/zsh/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "dotfiles/config/zsh/autosuggetions"]
	path = dotfiles/config/zsh/autosuggetions
	url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "dotfiles/config/zsh/asdf"]
	path = dotfiles/config/zsh/asdf
	url = https://github.com/asdf-vm/asdf.git

[submodule "assets/icons"]
	path = assets/icons
	url = https://github.com/vinceliuice/Tela-icon-theme.git

[submodule "dotfiles/firefox/chrome"]
	path = dotfiles/firefox/chrome
	url = https://codeberg.org/Freeplay/Firefox-Onebar.git
